/** {
    margin: 0;
    padding: 0;
} A ne pas conserver */

#navigation {
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    display: inline;
}

#Promo {
    font-family: FreeMono, monospace;
    color: chartreuse;
    background-color: forestgreen;
}
header {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    position: static;
    background: linear-gradient(0Deg, silver, black);
    /*text-shadow: 1px 0px 1px #AAA, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;*/
}

header li {
    margin: -20;
    padding: 0;
    list-style-type: none;
    color: red;
    text-align: center;
    width: 60px;
    border: red;
    display: inherit;
}




header ul {
    display: inher;
}

article {
    flex-direction: column;
    flex-direction: column;
    display: inline-flex;
}

article figure {
    width: 3Opx;
}
