main {
  position:absolute;
  top:150px;
}
article {
  background-color: #EEE;
  border-radius: 5px;
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
  width:300px;
  float:left;
}
article  img {
  width:100%;
  border-radius:3px;
  visibility: visible;
}
article  form,h4,figcaption {
   visibility: hidden;
   height:0px;
   transition: height 0.5s linear 1s,visibility 0.5s linear 1s;
}
article:hover  * {
  visibility: visible;
  height:auto;
}

article {
  border: solid black;
}
section {
  max-width:40%;
  background-color:#F5F5F5;
  float:left;
  margin : 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
