header {
    position: fixed;
    margin: 0px;
    top:0;
    width: 100%;
    z-index: 1;
}



#bandeau {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Sicily_banner_landscape.jpg");
    background-size: cover;
    margin: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
/* J'aimerais mettre une bordure plus visible ici ? */
}

#bandeau > h1 {
    font-family: sans-serif;
    color: whitesmoke;
    padding-top: : 1vw ;
    margin: 3vw 2vw 1vw 1vw;
    font-size: 3vw;
    display: inline-block;
}
#bandeau > h1 a {
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    color: whitesmoke;
}

#searchBar {
    display: inline-block;
}

#searchBar > input{
    background:  rgba(255,255,255,0.5);
    border: none;
    padding: 2vh;
    padding-right: 2vw;
    min-height: 3vh;
    border-radius: 5px;
}

#searchBar > input[type="submit"]{
    background:  rgba(255,255,255,0.5);
    border: solid #AAA 0.20vh;
    padding: 1.8vh;
    min-height: 3vh;
    border-radius: 0;
}

#searchBar > input[type="search"]:hover, #searchBar > input[type="search"]:focus {
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

#searchBar > input[type="submit"]:hover {
    box-shadow:0.6ex 0.6ex 1px rgba(0,0,0,0.35);
}

#searchBar > input[type="submit"]:active {
    box-shadow:0.3ex 0.3ex 1px rgba(0,0,0,0.35);
}

#searchBar > input[type="submit"]{
    background-color: #E0E0E0;
    position: relative;
    left: -1vw;
}

#logo {
    float: left;
    max-width: 5vw;
    margin: 2vw;
}

header > a {
    float : right;
    margin-right: 20vw;
    display: inline-block;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

header li {
    float: left;
}

header li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    transition-duration: 0.33s;
}

footer{
    position: relative;
    display: grid;
    margin-top: 1vh;
    bottom: 0;
    min-height: 4vh;
    background-color:  rgba(0,0,0,0.30);
    z-index: 9999;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

footer li {
    float: left;
    bottom: 0;
}

footer li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


body {
    margin: 0;
    position: relative;
    min-height: 100%;
}

main {
    position: relative;;
    margin-top: 200px;
}
