header {
    position: fixed;
    margin: 0px;
    top:0;
    width: 100%;
    z-index: 9999;
}

body {
    margin: 0;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

main {
    position: absolute;
    top: 170px;
    left: 250px;
    padding-left: 2vw;
    padding-bottom: 6vh;
}


aside {
    position: fixed;
    left: 0px;
    top : 155px;
    padding-top: 10px;uis
    margin-right: 10px;
    height: 100%;
    max-width: 300px;
    background-color: #DDD;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
    z-index: 9998;
}

footer{
    position: fixed;
    bottom: 0;
    min-height: 4vh;
    width: 100%;
    background-color: rgba(0,0,0,0.30);
    z-index: 1000;
}

#bandeau {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Sicily_banner_landscape.jpg");
    background-size: cover;
    margin: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

#bandeau > h1 {
    font-family: sans-serif;
    color: whitesmoke;
    padding-top: 10px ;
    margin: 20px 16px 8px 8px;
    font-size: 48px;
    display: inline-block;
}
#bandeau > h1 a {
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    color: whitesmoke;
}

#searchBar {
    display: inline-block;
}

#searchBar > input{
    background:  rgba(255,255,255,0.5);
    border: none;
    padding: 15px;
    padding-right: 20px;
    min-height: 30px;
    border-radius: 5px;
}

#searchBar > input[type="submit"]{
    background:  rgba(255,255,255,0.5);
    padding: 14px;
    min-height: 3px;
    border-radius: 0;
}

#searchBar > input[type="search"]:hover, #searchBar > input[type="search"]:focus {
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

#searchBar > input[type="submit"]:hover {
    box-shadow:0.6ex 0.6ex 1px rgba(0,0,0,0.35);
}

#searchBar > input[type="submit"]:active {
    box-shadow:0.3ex 0.3ex 1px rgba(0,0,0,0.35);
}

#searchBar > input[type="submit"]{
    background-color: #E0E0E0;
    position: relative;
    left: -10px;
}

#logo {
    float: left;
    max-width: 80px;
    margin: 16px;
}

header > a {
    float: right;
    padding-right: 50px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

header li {
    float: left;
}

header li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    transition-duration: 0.33s;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

footer li {
    float: right;
    bottom: 0;
}

footer li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article img {
  max-width: 200px;
  height: 100px;
}

article {
  background-color: #EEE;
  border-radius: 5px;
  margin: 10px;
  padding :2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
  width:300px;
  float:left;
  text-align: center;
  height: 300px;
  opacity:0.9;
}

article figure{
    margin: 0;
}
article figcaption {
    height: 100px;
}

.prix {
    color : red;
    font-family: sans-serif;
    font-weight: bold;
}

article {
    font-family: sans-serif;
}

article h4 {
    font-weight: bolder;
    color: #DEAD50;
}

article a {
    text-decoration: none;
    color: #DEAD50;
}

article a:hover {
    text-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

html {
  background-image: url("img/sky-clouds-cloudy-blur.jpg");
  background-size: cover;
  background-attachment: fixed;
}

article input:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

#filtres{
    color:whitesmoke;
    padding: 2px;
    font-family: sans-serif;
    font-weight: bold;
}


#filtres ul {
    list-style-type: none;
    padding-left: 10px;
    width: 100%;
}

#filtres a{
    display: block;
    color:inherit;
    text-decoration: none;
}

.profile {
    border-radius: 50%;
    background-color: #8BA6B9;
    max-height: 200px;
}

#panier{
    position:absolute;
    left: 85%;
    background-color: #DEAD50;
    border-radius: 0% 0% 35% 35%;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

#panier > a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

#panier img {
    max-height: 20px;
}

#presentation{
  width:80%;
  text-align: left;
  margin-top:100px;
}

#presentation section {
  float:left;
  max-width:45%;
  padding:2%;
}

main > section {
  width:1000px;
}

main  h2 {
    font-family: sans-serif;
    color: lightgray;
}

table{
    font-family: sans-serif;
}
#bouton {
  border-radius: 50%;
  width:30px;
  background: #DEAD50;
  position:fixed;
  bottom:10px;
  right: 10px;
  text-align: center;
  visibility: hidden;
}

@media screen and (max-width: 480px) { /*pour les smartphones*/
    main{
      left:0;
    }
    #filtres{
      left:-250px;
    }
    #filtres:target{
      left:0px;
    }
    #bouton{
      visibility: visible;
    }
    #bandeau>:not(nav){
      visibility: hidden;
      height: 0px;
      width:0px;
    }
    nav{
      position: fixed;
      height: 10px;
      top:0px;
    }
}
