header {
    position: fixed;
    margin: 0px;
    top:0;
    width: 100%;
    z-index: 1;
}



#bandeau {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Sicily_banner_landscape.jpg");
    background-size: cover;
    margin: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
/* J'aimerais mettre une bordure plus visible ici ? */
}

#bandeau > h1 {
    font-family: sans-serif;
    color: whitesmoke;
    padding-top: : 1vw ;
    margin: 3vw 2vw 1vw 1vw;
    font-size: 3vw;
    display: inline-block;
}
#bandeau > h1 a {
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    color: whitesmoke;
}

#searchBar {
    display: inline-block;
}

#searchBar > input[type="search"] {
    background:  rgba(255,255,255,0.5)
}


#logo {
    float: left;
    max-width: 5vw;
    margin: 2vw;
}

header > a {
    float : right;
    margin-right: 20vw;
    display: inline-block;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

header li {
    float: left;
}

header li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
    transition-duration: 0.33s;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

footer li {
    float: right;
}

footer li a {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


body {
    margin: 0;
}

main {
    position: absolute;
    top: 200px;
}
